.bi-star-fill:hover {
    color: orange;
}

.container-profile {
    margin: 2%;
}

.rate {
    display: inline-block;
    border: 0;
}
/* per nascondere i pulsanti radio */
.rate > input {
    display: none;
}
/* per ordinare le stelle dal valore più basso*/
.rate > .star-label {
    float: right;
}

.rate > .star-label:before {
    margin: 5px;
    font-size: 1.25em;
    display: inline-block; 
    content: "\F586"; /* stella piena */
    font-family: "Bootstrap-Icons";
}
/* colora di arancione la stella selezionata */
.rate > input:checked ~ .star-label {
    color: orange;
}

/* valutazione per zero stelle */
.rate > .star-label:last-child:before {
    content: "\F588 "; /* stella vuota */
}
/* Per fare le mezze stelle */
.rate .half:before {
    content: "\F587 "; /* mezza stella*/
    position: absolute;
    padding-right: 0;
}
/* colora la stella selezionata e quelle precedenti */
input:checked ~ .star-label, 
/* colora le stelle precedenti quando si passa con il mouse */
.star-label:hover, .star-label:hover ~ .star-label { color: orange;  } 

/* evidenzia le stelle precedenti quando si passa con il mouse */
input:checked + .star-label:hover, input:checked ~ .star-label:hover, 
input:checked ~ .star-label:hover ~ .star-label, 
.star-label:hover ~ input:checked ~ .star-label  { color: orange;  } 

.foto-recensione {
    width: 50px;
    height: 50px;
}

.text-recensione {
    border-color: #640062;
}