body{
    height: 100vh;
}

.bg-beige
{
    background-color: #e6dde6;
}

.purple-box
{
    background-color: #b37cb28e;
}

.bg-purple
{
    background-color: #640062;
}

.bg-trans-purple
{
    background-color: #6400624d;
}

.bg-trans-orange
{
    background-color: #fd7d1471;
}

.bg-gradient
{
    background-color: linear-gradient(-90deg, #640062, #9c5d06);
}

.text-purple
{
   color: #640062;
}

.text-orange
{
    color: #fd7e14;
}

.text-grey
{
    color: grey;
}

.my-text-muted
{
    color: #2b012adc;
}

.mycontainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


footer
{
    background-color: rgb(91, 6, 91);
}

.card-footer
{
    background-color: white;
    border: 0px;
}

.nav-title
{
    color: rgb(179, 178, 178);
    font-size: large;
}

.container-fed {
    padding: 2%;
}


.section-fed {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item-list-fed {
    display: flex; 
    flex-direction: row;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
