.pagination > li > a {
    background-color: #640062;
    color: #fff;
  }

  .pagination > li > a:hover {
    background-color: #fd7e14;
    color: #000;
  }

  .pagination .active > a {
    background-color: #fd7e14;
    color: #000;
  }
  